In [1]:
import pandas as pd
import os

In [2]:
pwd = os.getcwd()
filepath = pwd + "/books_data.xlsx"
filepath

'c:\\Users\\MaxPC\\Documents\\Data Analyst Projects\\Books/books_data.xlsx'

In [3]:
books = pd.read_excel(filepath)

In [4]:
books

,Name,Author,Status,Year,Score /5,Genre,Type,Complete date
0,Business Intelligence Guidebook,Rick Sherman,Reading,2021.0,NaN,Business & Money,Book,2021-06-30 00:00:00
1,The Daily Stoic,Stephen Hanselman,Reading,2021.0,NaN,Philosophy,Book,2021-12-31 00:00:00
2,Bible. Old Testament,No Author,Reading,2021.0,NaN,Fiction,Book,2021-12-31 00:00:00
3,11/22/63,Stephen King,Reading,2021.0,NaN,Novel,Book,2021-05-31 00:00:00
4,Stillness is a Key,Ryan Holiday,Finished,2021.0,⭐️⭐️⭐️⭐️⭐️,"Philosophy, Psychology",Book,2021-05-11 00:00:00
...,...,...,...,...,...,...,...,...
145,Outliers,Malcolm Gladwell,NaN,NaN,NaN,NaN,Book,NaN
146,The Box,Marc Levinson,NaN,NaN,NaN,NaN,Book,NaN
147,How Not to Be Wrong,Jordan Ellenberg,NaN,NaN,NaN,NaN,Book,NaN
148,"5 Психологических Приемов, Которым Нас Не Учат...",NaN,NaN,NaN,NaN,NaN,Article,NaN
149,Теория решения изобретательских задач — Википедия,NaN,NaN,NaN,NaN,NaN,Article,NaN

In [5]:
books = books.copy()
# making a copy of data

In [6]:
books.drop(columns=['Year','Type'])
# droping columns

,Name,Author,Status,Score /5,Genre,Complete date
0,Business Intelligence Guidebook,Rick Sherman,Reading,NaN,Business & Money,2021-06-30 00:00:00
1,The Daily Stoic,Stephen Hanselman,Reading,NaN,Philosophy,2021-12-31 00:00:00
2,Bible. Old Testament,No Author,Reading,NaN,Fiction,2021-12-31 00:00:00
3,11/22/63,Stephen King,Reading,NaN,Novel,2021-05-31 00:00:00
4,Stillness is a Key,Ryan Holiday,Finished,⭐️⭐️⭐️⭐️⭐️,"Philosophy, Psychology",2021-05-11 00:00:00
...,...,...,...,...,...,...
145,Outliers,Malcolm Gladwell,NaN,NaN,NaN,NaN
146,The Box,Marc Levinson,NaN,NaN,NaN,NaN
147,How Not to Be Wrong,Jordan Ellenberg,NaN,NaN,NaN,NaN
148,"5 Психологических Приемов, Которым Нас Не Учат...",NaN,NaN,NaN,NaN,NaN
149,Теория решения изобретательских задач — Википедия,NaN,NaN,NaN,NaN,NaN

In [7]:
books.reset_index()

,index,Name,Author,Status,Year,Score /5,Genre,Type,Complete date
0,0,Business Intelligence Guidebook,Rick Sherman,Reading,2021.0,NaN,Business & Money,Book,2021-06-30 00:00:00
1,1,The Daily Stoic,Stephen Hanselman,Reading,2021.0,NaN,Philosophy,Book,2021-12-31 00:00:00
2,2,Bible. Old Testament,No Author,Reading,2021.0,NaN,Fiction,Book,2021-12-31 00:00:00
3,3,11/22/63,Stephen King,Reading,2021.0,NaN,Novel,Book,2021-05-31 00:00:00
4,4,Stillness is a Key,Ryan Holiday,Finished,2021.0,⭐️⭐️⭐️⭐️⭐️,"Philosophy, Psychology",Book,2021-05-11 00:00:00
...,...,...,...,...,...,...,...,...,...
145,145,Outliers,Malcolm Gladwell,NaN,NaN,NaN,NaN,Book,NaN
146,146,The Box,Marc Levinson,NaN,NaN,NaN,NaN,Book,NaN
147,147,How Not to Be Wrong,Jordan Ellenberg,NaN,NaN,NaN,NaN,Book,NaN
148,148,"5 Психологических Приемов, Которым Нас Не Учат...",NaN,NaN,NaN,NaN,NaN,Article,NaN
149,149,Теория решения изобретательских задач — Википедия,NaN,NaN,NaN,NaN,NaN,Article,NaN

In [8]:
books.sort_values('Score /5',ascending=False)
# sorting valuer by Score

,Name,Author,Status,Year,Score /5,Genre,Type,Complete date
4,Stillness is a Key,Ryan Holiday,Finished,2021.0,⭐️⭐️⭐️⭐️⭐️,"Philosophy, Psychology",Book,2021-05-11 00:00:00
79,Only 13,Julia Manzaren,Finished,2019.0,⭐️⭐️⭐️⭐️⭐️,Biography,Book,2019-06-30 00:00:00
77,A Young Doctor's Notebook,Bulgakov,Finished,2019.0,⭐️⭐️⭐️⭐️⭐️,Prose,Book,2019-07-30 00:00:00
72,Shantaram,Gregory David Roberts,Finished,2019.0,⭐️⭐️⭐️⭐️⭐️,Novel,Book,2019-08-30 00:00:00
71,Primitive thinking,Lucien Lévy-Bruhl,Finished,2019.0,⭐️⭐️⭐️⭐️⭐️,Science Fiction,Book,2019-08-30 00:00:00
...,...,...,...,...,...,...,...,...
145,Outliers,Malcolm Gladwell,NaN,NaN,NaN,NaN,Book,NaN
146,The Box,Marc Levinson,NaN,NaN,NaN,NaN,Book,NaN
147,How Not to Be Wrong,Jordan Ellenberg,NaN,NaN,NaN,NaN,Book,NaN
148,"5 Психологических Приемов, Которым Нас Не Учат...",NaN,NaN,NaN,NaN,NaN,Article,NaN
149,Теория решения изобретательских задач — Википедия,NaN,NaN,NaN,NaN,NaN,Article,NaN

In [9]:
books['Type'].value_counts()
# counting each type

Book       146
Article      2
Other        1
Podcast      1
Name: Type, dtype: int64

In [10]:
books_data = books[books['Type'] == 'Book']
# filterig type by 'Book'

In [11]:
books_data

,Name,Author,Status,Year,Score /5,Genre,Type,Complete date
0,Business Intelligence Guidebook,Rick Sherman,Reading,2021.0,NaN,Business & Money,Book,2021-06-30 00:00:00
1,The Daily Stoic,Stephen Hanselman,Reading,2021.0,NaN,Philosophy,Book,2021-12-31 00:00:00
2,Bible. Old Testament,No Author,Reading,2021.0,NaN,Fiction,Book,2021-12-31 00:00:00
3,11/22/63,Stephen King,Reading,2021.0,NaN,Novel,Book,2021-05-31 00:00:00
4,Stillness is a Key,Ryan Holiday,Finished,2021.0,⭐️⭐️⭐️⭐️⭐️,"Philosophy, Psychology",Book,2021-05-11 00:00:00
...,...,...,...,...,...,...,...,...
143,The Great Gatsby,F. Scott Fitzgerald,NaN,NaN,NaN,NaN,Book,NaN
144,How to Lie With Statistics,Darrell Huff,NaN,NaN,NaN,NaN,Book,NaN
145,Outliers,Malcolm Gladwell,NaN,NaN,NaN,NaN,Book,NaN
146,The Box,Marc Levinson,NaN,NaN,NaN,NaN,Book,NaN
147,How Not to Be Wrong,Jordan Ellenberg,NaN,NaN,NaN,NaN,Book,NaN

In [12]:
books_data['Type'].value_counts()
# Checking Types

Book    146
Name: Type, dtype: int64

In [13]:
books_data

,Name,Author,Status,Year,Score /5,Genre,Type,Complete date
0,Business Intelligence Guidebook,Rick Sherman,Reading,2021.0,NaN,Business & Money,Book,2021-06-30 00:00:00
1,The Daily Stoic,Stephen Hanselman,Reading,2021.0,NaN,Philosophy,Book,2021-12-31 00:00:00
2,Bible. Old Testament,No Author,Reading,2021.0,NaN,Fiction,Book,2021-12-31 00:00:00
3,11/22/63,Stephen King,Reading,2021.0,NaN,Novel,Book,2021-05-31 00:00:00
4,Stillness is a Key,Ryan Holiday,Finished,2021.0,⭐️⭐️⭐️⭐️⭐️,"Philosophy, Psychology",Book,2021-05-11 00:00:00
...,...,...,...,...,...,...,...,...
143,The Great Gatsby,F. Scott Fitzgerald,NaN,NaN,NaN,NaN,Book,NaN
144,How to Lie With Statistics,Darrell Huff,NaN,NaN,NaN,NaN,Book,NaN
145,Outliers,Malcolm Gladwell,NaN,NaN,NaN,NaN,Book,NaN
146,The Box,Marc Levinson,NaN,NaN,NaN,NaN,Book,NaN
147,How Not to Be Wrong,Jordan Ellenberg,NaN,NaN,NaN,NaN,Book,NaN

In [23]:
books_data.Status.notnull()

0       True
1       True
2       True
3       True
4       True
       ...
143    False
144    False
145    False
146    False
147    False
Name: Status, Length: 146, dtype: bool

In [29]:
filtered_books_data = books_data[books_data.Status.notnull()]
filtered_books_data
# Dropping rows with null

,Name,Author,Status,Year,Score /5,Genre,Type,Complete date
0,Business Intelligence Guidebook,Rick Sherman,Reading,2021.0,NaN,Business & Money,Book,2021-06-30 00:00:00
1,The Daily Stoic,Stephen Hanselman,Reading,2021.0,NaN,Philosophy,Book,2021-12-31 00:00:00
2,Bible. Old Testament,No Author,Reading,2021.0,NaN,Fiction,Book,2021-12-31 00:00:00
3,11/22/63,Stephen King,Reading,2021.0,NaN,Novel,Book,2021-05-31 00:00:00
4,Stillness is a Key,Ryan Holiday,Finished,2021.0,⭐️⭐️⭐️⭐️⭐️,"Philosophy, Psychology",Book,2021-05-11 00:00:00
...,...,...,...,...,...,...,...,...
106,21 Lesson for 21 Century,Yuval Noah Harari,Planned,NaN,NaN,NaN,Book,NaN
120,Thorn Birds,Colleen McCullough,Cancel,NaN,NaN,Family saga,Book,NaN
121,The power of one,Bryce Courtenay,Cancel,NaN,NaN,NaN,Book,NaN
134,What I Talk About When I Talk About Running,Haruki Murakami,Planned,NaN,NaN,Biography,Book,NaN
137,Moonwalking with Einstein,Joshua Foer,Planned,NaN,NaN,NaN,Book,NaN

In [30]:
filtered_books_data.to_excel('data_output.xlsx', index = False)